# Node.js
node_modules/

# Build files
build/
dist/

# Dependency directories
frontend/node_modules/
backend/node_modules/
blockchain/node_modules/
3dprinting/node_modules/
drones/node_modules/

# Environment variables
.env

# Editor files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
